<!DOCTYPE html>
<html>
<head>
	<title>Signup</title>
</head>
<body>
	<div>
		<form method = 'POST'>
			<fieldset>
				<legend>Signup</legend>
				<label for="your_name">FullName</label><br>
				<input id = 'your_name' type="test" name="test"><br>
				<label for= "email">Email</label><br>
				<input id = "email" type="Email" name="Email"><br>
				<label for = "gender">Gender</label><br>
				<input id = "gender" type="test" name="gender"><br>
				<label for = "no">phone number</label><br>
				<input id = "for" type="number" name="phone"><br>
				<label for = "Qua">Qualification</label><br>
				<input id = "Qua" type="test" name="Q"><br>
				<label for = "branch">Branch</label><br>
				<input id="branch" type="test" name="branch"><br>
				<label for= "code">password</label><br>
				<input id = "code" type="password" name="code"><br>
				<label for = "ccode">confirm password</label><br>
				<input id="ccode" type="password" name="concode"><br>
				<button id = "button">Submit</button>			
			</fieldset>
		</form>
	</div>
</body>
</html>